[submodule "emacs/site-lisp/js2-mode"]
	path = emacs/site-lisp/js2-mode
	url = git@github.com:ralphtheninja/js2-mode.git
[submodule "emacs/site-lisp/jshint-mode"]
	path = emacs/site-lisp/jshint-mode
	url = https://github.com/ralphtheninja/jshint-mode.git
[submodule "emacs/site-lisp/nodejs-repl.el"]
	path = emacs/site-lisp/nodejs-repl.el
	url = git@github.com:ralphtheninja/nodejs-repl.el.git
