[submodule "emacs/site-lisp/js2-mode"]
	path = emacs/site-lisp/js2-mode
	url = https://github.com/ralphtheninja/js2-mode.git
[submodule "emacs/site-lisp/jshint-mode"]
	path = emacs/site-lisp/jshint-mode
	url = https://github.com/ralphtheninja/jshint-mode.git
[submodule "emacs/site-lisp/nodejs-repl.el"]
	path = emacs/site-lisp/nodejs-repl.el
	url = https://github.com/ralphtheninja/nodejs-repl.el.git
[submodule "emacs/site-lisp/ag.el"]
	path = emacs/site-lisp/ag.el
	url = git@github.com:Wilfred/ag.el.git
[submodule "emacs/site-lisp/popup"]
	path = emacs/site-lisp/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "emacs/site-lisp/yasnippet"]
	path = emacs/site-lisp/yasnippet
	url = git@github.com:ralphtheninja/yasnippet
[submodule "emacs/site-lisp/php-mode"]
	path = emacs/site-lisp/php-mode
	url = https://github.com/ejmr/php-mode.git
